=======================================================================================================================================================

Nama  : Rizqia Dewi Annisa

Program ini dibuat untuk melakukan automatisasi transform dan load data dari PostgreSQL ke ElasticSearch. Adapun dataset yang dipakai adalah dataset mengenai Hipertension Arterial Mexico (Resiko Tekanan Darah Tinggi Masyarakat Mexico) Tahun 2022.

========================================================================================================================================================

In [105]:
# import libraries
import great_expectations as gx
import pandas as pd
from great_expectations.checkpoint import Checkpoint

In [106]:
# mendefine environmet mengambil context di environtment gx
context = gx.get_context()

In [107]:
# mendefine datasource
datasource = context.sources.add_pandas(name="datasource1")

In [112]:
# membaca data csv
df=pd.read_csv('data\P2M3_rizqia-dewi_data_clean.csv')
df.head()

,Unnamed: 0,index,id,gender,age,hemoglobin_concentration,ambient_temperature,uric_acid_value,albumin_value,hdl_cholesterol_value,...,second_weight_measurement,second_height_measurement,knee_heel_distance,calf_circumference,second_waist_measurement,blood_pressure,sleep_in_hours,body_mass,total_activity,hypertension_risk
0,0,0,2.022010e+11,2,41,14.2,22,4.8,4.0,34,...,64.70,154.0,48.5,33.5,222.2,107,4,32.889389,120,1
1,1,1,2.022010e+11,2,65,14.1,9,4.4,3.8,73,...,96.75,152.2,44.5,41.1,113.7,104,2,1.000000,240,0
2,2,2,2.022010e+11,2,68,14.2,22,4.8,4.0,34,...,68.70,144.8,42.3,37.8,103.7,105,1,1.000000,480,0
3,3,3,2.022010e+11,1,35,15.7,11,6.5,4.1,49,...,64.70,154.0,48.5,33.5,222.2,117,5,26.265339,275,1
4,4,4,2.022010e+11,2,65,12.7,7,4.2,4.2,41,...,97.15,161.3,49.6,42.0,118.9,123,2,1.000000,255,0

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4363 entries, 0 to 4362
Data columns (total 38 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     4363 non-null   int64
 1   index                          4363 non-null   int64
 2   id                             4363 non-null   int64
 3   gender                         4363 non-null   int64
 4   age                            4363 non-null   int64
 5   hemoglobin_concentration       4363 non-null   float64
 6   ambient_temperature            4363 non-null   int64
 7   uric_acid_value                4363 non-null   float64
 8   albumin_value                  4363 non-null   float64
 9   hdl_cholesterol_value          4363 non-null   int64
 10  ldl_cholesterol_value          4363 non-null   float64
 11  total_cholesterol_value        4363 non-null   int64
 12  creatinine_value               4363 non-null   float64
 13  glucose_result                 4363 non-null   float64
 14  insulin_value                  4363 non-null   float64
 15  triglycerides_value            4363 non-null   int64
 16  average_glucose_result         4363 non-null   int64
 17  glycosylated_hemoglobin_value  4363 non-null   float64
 18  ferritin_value                 4363 non-null   float64
 19  folate_value                   4363 non-null   float64
 20  homocysteine_value             4363 non-null   float64
 21  c_reactive_protein_value       4363 non-null   float64
 22  transferrin_value              4363 non-null   float64
 23  vitamin_b12_value              4363 non-null   float64
 24  vitamin_d_value                4363 non-null   float64
 25  weight                         4363 non-null   float64
 26  height                         4363 non-null   float64
 27  waist_measurement              4363 non-null   float64
 28  second_weight_measurement      4363 non-null   float64
 29  second_height_measurement      4363 non-null   float64
 30  knee_heel_distance             4363 non-null   float64
 31  calf_circumference             4363 non-null   float64
 32  second_waist_measurement       4363 non-null   float64
 33  blood_pressure                 4363 non-null   int64
 34  sleep_in_hours                 4363 non-null   int64
 35  body_mass                      4363 non-null   float64
 36  total_activity                 4363 non-null   int64
 37  hypertension_risk              4363 non-null   int64
dtypes: float64(24), int64(14)
memory usage: 1.3 MB

In [83]:
#mendefine nama, data asset, dan my batch request
name = "Hipertension_Arterial_Mexico"
data_asset = datasource.add_dataframe_asset(name=name)
my_batch_request = data_asset.build_batch_request(dataframe=df)

In [84]:
# Membuat expectation suite
expectation_suite_name = 'expectation-Hipertension_Arterial_Mexico-dataset'
context.add_or_update_expectation_suite(expectation_suite_name)

# Membuat  validator menggunakan expectation suite di atas
validator = context.get_validator(
    batch_request = my_batch_request,
    expectation_suite_name = expectation_suite_name
)

# Check tvalidator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,Unnamed: 0,index,id,gender,age,hemoglobin_concentration,ambient_temperature,uric_acid_value,albumin_value,hdl_cholesterol_value,...,second_weight_measurement,second_height_measurement,knee_heel_distance,calf_circumference,second_waist_measurement,blood_pressure,sleep_in_hours,body_mass,total_activity,hypertension_risk
0,0,0,202201001004,2,41,14.2,22,4.8,4.0,34,...,64.70,154.0,48.5,33.5,222.2,107,4,32.889389,120,1
1,1,1,202201001009,2,65,14.1,9,4.4,3.8,73,...,96.75,152.2,44.5,41.1,113.7,104,2,1.000000,240,0
2,2,2,202201001012,2,68,14.2,22,4.8,4.0,34,...,68.70,144.8,42.3,37.8,103.7,105,1,1.000000,480,0
3,3,3,202201001013,1,35,15.7,11,6.5,4.1,49,...,64.70,154.0,48.5,33.5,222.2,117,5,26.265339,275,1
4,4,4,202201001015,2,65,12.7,7,4.2,4.2,41,...,97.15,161.3,49.6,42.0,118.9,123,2,1.000000,255,0

In [96]:
# Expectation 1 : Kolom `id` harus unik

validator.expect_column_values_to_be_unique('index')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 4363,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [86]:
# Expectation 2 : Column `hypertension_risk` harus kurang dari 1 untuk yang tidak riskan darah tinggi

validator.expect_column_values_to_be_between(
    column='hypertension_risk', min_value=0, max_value=1
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 4363,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [71]:
# Expectation 3: Kolom gender hanya bisa terisi dengan:  "male", "female"
validator.expect_column_values_to_be_in_set("gender",["male","female"])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 4363,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [87]:
# Expectation 4: Kolom sleep_in_hours harus memiliki tipe integer, tidak boleh bertipe object
validator.expect_column_values_to_be_in_type_list('sleep_in_hours', ['int64'])

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": "int64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [89]:
# Expectation 5: Jumlah panjang karakter daru kolom id harus berjumlah 12
validator.expect_column_value_lengths_to_equal(column='id', value=12)

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 4363,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [90]:
# Expectation 6: tanggal pada kolom total_cholesterol_value harus lebih besar dari hdl_cholesterol_value
validator.expect_column_pair_values_a_to_be_greater_than_b(column_A="total_cholesterol_value", column_B="hdl_cholesterol_value", or_equal=True)

Calculating Metrics:   0%|          | 0/7 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 4363,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [91]:
# Expectation 5: Column blood_pressure must have non-null values

validator.expect_column_values_to_not_be_null('blood_pressure')

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 4363,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [92]:
# Simpan ke Expectation Suite
validator.save_expectation_suite(discard_failed_expectations=False)

In [93]:
# Checkpoint
checkpoint = context.add_or_update_checkpoint(
    name='checkpoint',
    validator=validator
)

In [94]:
# hasil cek point
checkpoint_result = checkpoint.run()

Calculating Metrics:   0%|          | 0/34 [00:00<?, ?it/s]

In [95]:
# Membuat data docs
context.build_data_docs()

{'local_site': 'file://C:\\Users\\RIZQIA~1\\AppData\\Local\\Temp\\tmpyz31kmc4\\index.html'}

Apabila ingin melihat rincian keberhasilan untuk setiap expectation dapat menuju halaman berikut 

{'local_site': 'file://C:\\Users\\RIZQIA~1\\AppData\\Local\\Temp\\tmpyz31kmc4\\index.html'}

In [17]:
df = pd.read_csv('Hipertension_Arterial_Mexico.csv')
df.head()

,FOLIO_I,sexo,edad,concentracion_hemoglobina,temperatura_ambiente,valor_acido_urico,valor_albumina,valor_colesterol_hdl,valor_colesterol_ldl,valor_colesterol_total,...,segundamedicion_peso,segundamedicion_estatura,distancia_rodilla_talon,circunferencia_de_la_pantorrilla,segundamedicion_cintura,tension_arterial,sueno_horas,masa_corporal,actividad_total,riesgo_hipertension
0,2022_01001004,2,41,14.2,22,4.8,4.0,34,86.0,139,...,64.70,154.0,48.5,33.5,222.2,107,4,32.889389,120,1
1,2022_01001009,2,65,14.1,9,4.4,3.8,73,130.0,252,...,96.75,152.2,44.5,41.1,113.7,104,2,1.000000,240,0
2,2022_01001012,2,68,14.2,22,4.8,4.0,34,86.0,139,...,68.70,144.8,42.3,37.8,103.7,105,1,1.000000,480,0
3,2022_01001013,1,35,15.7,11,6.5,4.1,49,107.0,203,...,64.70,154.0,48.5,33.5,222.2,117,5,26.265339,275,1
4,2022_01001015,2,65,12.7,7,4.2,4.2,41,76.0,145,...,97.15,161.3,49.6,42.0,118.9,123,2,1.000000,255,0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4363 entries, 0 to 4362
Data columns (total 36 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   FOLIO_I                           4363 non-null   object
 1   sexo                              4363 non-null   int64
 2   edad                              4363 non-null   int64
 3   concentracion_hemoglobina         4363 non-null   float64
 4   temperatura_ambiente              4363 non-null   int64
 5   valor_acido_urico                 4363 non-null   float64
 6   valor_albumina                    4363 non-null   float64
 7   valor_colesterol_hdl              4363 non-null   int64
 8   valor_colesterol_ldl              4363 non-null   float64
 9   valor_colesterol_total            4363 non-null   int64
 10  valor_creatina                    4363 non-null   float64
 11  resultado_glucosa                 4363 non-null   float64
 12  valor_insulina                    4363 non-null   float64
 13  valor_trigliceridos               4363 non-null   int64
 14  resultado_glucosa_promedio        4363 non-null   int64
 15  valor_hemoglobina_glucosilada     4363 non-null   float64
 16  valor_ferritina                   4363 non-null   float64
 17  valor_folato                      4363 non-null   float64
 18  valor_homocisteina                4363 non-null   float64
 19  valor_proteinac_reactiva          4363 non-null   float64
 20  valor_transferrina                4363 non-null   float64
 21  valor_vitamina_bdoce              4363 non-null   float64
 22  valor_vitamina_d                  4363 non-null   float64
 23  peso                              4363 non-null   float64
 24  estatura                          4363 non-null   float64
 25  medida_cintura                    4363 non-null   float64
 26  segundamedicion_peso              4363 non-null   float64
 27  segundamedicion_estatura          4363 non-null   float64
 28  distancia_rodilla_talon           4363 non-null   float64
 29  circunferencia_de_la_pantorrilla  4363 non-null   float64
 30  segundamedicion_cintura           4363 non-null   float64
 31  tension_arterial                  4363 non-null   int64
 32  sueno_horas                       4363 non-null   int64
 33  masa_corporal                     4363 non-null   float64
 34  actividad_total                   4363 non-null   int64
 35  riesgo_hipertension               4363 non-null   int64
dtypes: float64(24), int64(11), object(1)
memory usage: 1.2+ MB

In [19]:
df.columns

Index(['FOLIO_I', 'sexo', 'edad', 'concentracion_hemoglobina',
       'temperatura_ambiente', 'valor_acido_urico', 'valor_albumina',
       'valor_colesterol_hdl', 'valor_colesterol_ldl',
       'valor_colesterol_total', 'valor_creatina', 'resultado_glucosa',
       'valor_insulina', 'valor_trigliceridos', 'resultado_glucosa_promedio',
       'valor_hemoglobina_glucosilada', 'valor_ferritina', 'valor_folato',
       'valor_homocisteina', 'valor_proteinac_reactiva', 'valor_transferrina',
       'valor_vitamina_bdoce', 'valor_vitamina_d', 'peso', 'estatura',
       'medida_cintura', 'segundamedicion_peso', 'segundamedicion_estatura',
       'distancia_rodilla_talon', 'circunferencia_de_la_pantorrilla',
       'segundamedicion_cintura', 'tension_arterial', 'sueno_horas',
       'masa_corporal', 'actividad_total', 'riesgo_hipertension'],
      dtype='object')

In [20]:
df['edad'].unique()

array([41, 65, 68, 35, 70, 30, 29, 58, 62, 48, 32, 43, 60, 49, 28, 27, 64,
       55, 59, 61, 26, 46, 52, 23, 57, 42, 66, 63, 39, 18, 34, 20, 19, 47,
       33, 51, 16, 21, 22, 38, 44, 54, 50, 73, 67, 53, 40, 56, 37, 45, 31,
       88, 36, 24, 69, 17, 25, 92,  9, 77, 75, 82, 79, 80, 86, 74, 72, 81,
       76, 84, 71, 15, 85, 87, 14, 93, 78,  8,  4, 91, 90, 12, 83],
      dtype=int64)